<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Re:all mobile</title>
    <script src="jquery.js"></script>
    <script src="bootstrap.js"></script>
    <script src="scripts/angular1.5.js"></script>
    <script type="text/javascript">
//        var textsr = new textString("es");
//        var xlated = textsr.getText("welcome");
//        alert(xlated);
    </script>
    <!-- inject:css -->
    <link rel="stylesheet" href="debug/main.css">
    <!-- endinject -->
    <link href="bootstrap.css" rel="stylesheet" />
    <link href="platform.css" rel="stylesheet" />
    <link href="css/index.css" rel="stylesheet" />
    <script src="scripts/reallcontroler.js"></script>
</head>
<body ng-app="reall">
    <script type="text/javascript">
    </script>
    <h2 id="welcome-text">Log in</h2>
    <div id="invalidusererror" xlate="invalid" style="display:none"></div>
    <div id="welcometext" xlate="Welcome" style="display:none"></div>
    <div id="login-wrapper">
        <form role="form">
            <div class="form-group">
                <label for="email" xlate="email address"></label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="pwd" xlate="password" ></label>
                <input type="password" class="form-control" id="pwd">
            </div>
        </form>

        <div id="login-button-wrapper">
            <button id="loginbutton" class="btn btn-default" value="Test">Log in</button>
            <img alt="waiting for login" src="images/wait-30x30.gif" />
        </div>
        <div id="dbgmessage">Nothing yet</div>
    </div>

    <div  id="patientform" ng-controller="patientFormController" style="display:none">
        <div id="listpatients-button-wrapper">
            <button id="listpatientsbutton" class="btn btn-default" ng-click="listPatients()" ></button>
            <img alt="waiting for list" src="images/wait-30x30.gif" />
        </div>
        <!-- need to capture
            firstname
            lastname1
            lastname2
            address
            city
            region
            country
            createddate
            updateddate
            createdby
            updatedby
            
        -->
        <!-- FORM -->
        <form ng-submit="processPatientForm()">
            <input type="hidden" name="username" class="form-control" ng-model="formData.username">
            <div id="name-group-name" class="form-group">
                <label xlate="name"></label>
                <input type="text" name="name" class="form-control" placeholder="" ng-model="formData.name">
                <span class="help-block"></span>
            </div>

            <div id="name-group-last1" class="form-group">
                <label xlate="lastname1"></label>
                <input type="text" name="lastname1" class="form-control" placeholder="" ng-model="formData.lastname1">
                <span class="help-block"></span>
            </div>

            <div id="name-group-last2" class="form-group">
                <label xlate="lastname2"></label>
                <input type="text" name="lastname2" class="form-control" placeholder="" ng-model="formData.lastname2">
                <span class="help-block"></span>
            </div>
            <div id="address" class="form-group">
                <label xlate="address"></label>
                <input type="text" name="address" class="form-control" placeholder="" ng-model="formData.address1">
                <span class="help-block"></span>
            </div>

            <!-- SUBMIT BUTTON -->
            <button type="submit" class="btn btn-success btn-lg btn-block">
                <span class="glyphicon glyphicon-flash" xlate="submit"></span>
            </button>
        </form>
        <ul>
            <li ng-repeat="patient in patients">{{patient.name}} {{patient.lastname1}} {{patient.lastname2}}</li>
        </ul>

        <!-- SHOW DATA FROM INPUTS AS THEY ARE BEING TYPED -->
<pre>
    {{ formData }}
</pre>

    </div>
    <ion-side-menus enable-menu-with-back-views="false">

        <!-- Main content -->
        <ion-side-menu-content drag-content="false"
                               ng-controller="navigationController as nav"
                               on-swipe-left="nav.onSwipeLeft()"
                               on-swipe-right="nav.onSwipeRight()">
            <div ng-include src="'modules/tabs/templates/wrapper.html'"></div>
        </ion-side-menu-content>

        <!-- Left menu -->
        <ion-side-menu side="left" expose-aside-when="large">
            <div ng-include src="'modules/side/views/left.html'"></div>
        </ion-side-menu>
    </ion-side-menus>

    <!-- JS dependencies -->
    <script src="cordova.js"></script>
    <script src="platformOverrides.js"></script>

    <!-- inject:js -->
    <script src="libs/ionic/release/js/ionic.bundle.js"></script>
    <script src="debug/app.js"></script>
    <!-- endinject -->
    <script src="script.js"></script>
    <script src="scripts/index.js"></script>

</body>
</html>
