#login-button-wrapper img {
    display:none;
}

.hidden-button {
    display:none;
}

#form-frame {
    position:absolute;
    top:1px;
}

#listpatientsbutton {
    background-image:url("../images/findpatient.jpg");
    background-repeat:no-repeat;
    background-position:center;
    height:3em;
    width:4em;
}

#listpatients-button-wrapper img {
    display:none;
}
